# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
* text=auto

# Force shell scripts to have LF line endings
*.sh text eol=lf

# Force batch files to have CRLF line endings  
*.bat text eol=crlf

